{% extends 'base.html.twig' %}

{% block title%} Bienvenue | {{ parent() }}{% endblock %}

{% block body %}
<h1>Bonjour depuis la France</h1>

<p>Il est actuellement {{ 'now'|date('H:i A', 'Europe/Paris') }} en France.</p>

<hr />

<p>&copy; Copyright 2023 - {{ 'now'|date('Y', 'Europe/Paris') }}</p>
{% endblock %}